layout {
    tab focus=true cwd="~/Dev" {
        pane split_direction="vertical" {
            pane
            pane
        }
        pane split_direction="vertical" {
            pane
            pane
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab cwd="~/Dev" {
        pane split_direction="vertical" {
            pane
            pane
        }
        pane split_direction="vertical" {
            pane
            pane
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
